<mat-card>
    <mat-card-title>
        Update Product
    </mat-card-title>
    <form>
        <mat-form-field>
            <input  matInput type="text" [(ngModel)]="product.name" name="name" placeholder="name" >
        </mat-form-field>
        <mat-form-field>
            <input  matInput type="text" [(ngModel)]="product.price" name="price" placeholder="price $" >
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary" >
        Update
    </button>
    <button mat-raised-button (click)="cancel()" >
        Cancel
    </button>
</mat-card>

